<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.bughub.plugin.flt_pay_ali">

    <!--  支付宝 SDK 在运行时需要进行网络连接，并在必要的时候判断网络连接的状态（4G/Wi-Fi）等来进行支付体验的优化。  -->
    <permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>
